.texto {
    background-color: $color-primario;
    width: 100%;

    p {
        color: $color-terciario;
    }
}
.container-fluid {
    margin-top: $espaciado;
    @include flex-column;
    
    p {
        font-size: $fuente-mediana;
    }

    iconify-icon {
        font-size: $icono;
        @include flex-column;
        gap: 20px;
        color: $color-secundario;
        margin-top: 20px;
    }
}

@media (min-width: $desktop) {
    .container-fluid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.contacto {
    @extend .boton;
    text-decoration: none;
    color: $color-primario;
    background-color: $color-terciario;
    transition: ease-in .3s;

    &:hover {
        background-color: $color-quinario;
        color: $color-primario;
    }
}
